{% extends "_base.html" %}
{% load i18n %}
{% load allauth i18n %}

{% block title %}{% trans "Change Password" %}{% endblock title %}

{% block content %}
    <h2 class="mt-5">{% trans "Change Password" %}</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-3">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <div class="invalid-feedback d-block">
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if field.help_text %}
                    <div class="form-text">{{ field.help_text }}</div>
                {% endif %}
            </div>
        {% endfor %}
        <button class="btn btn-success" type="submit">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
{% endblock content %}